.gcloudignore
.git
.gitignore

api/.coverage
api/.env
api/.mypy_cache/
api/.pytest_cache/
api/.ruff_cache/
api/.venv/
api/**/__pycache__/
api/*.sqlite3
api/private-uploads/

web/node_modules/
web/dist/
web/playwright-report/
web/test-results/

compose.yaml
fcc-gateway/
